@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  th,
  td {
    @apply px-2;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: textfield;
    margin: 0;
  }
}

* {
}

.barcode {
  font-family: 'Libre Barcode EAN13 Text';
}
